<div class="row justify-content-center">
  <div class="col col-md-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col text-center">
    <div class="row justify-content-center" *ngIf="cart as carts">
      <div *ngIf="filteredProduct.length === 0">
        <h5>No {{ category }} product to Display</h5>
      </div>
      <ng-container *ngFor="let p of filteredProduct; let i = index">
        <div class="col text-center">
          <product-card [product]="p" [shopping-cart]="carts"></product-card>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
