<div class="row">
    <ng-container *ngFor="let p of products; let i = index">
        <div class="col">
            <div class="card m-1" style="width: 18rem;">
                <img *ngIf="p.imageUrl != null" [src]="p.imageUrl" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">{{p.title}} </h5>
                    <p class="card-text">{{p.price | currency:'Rs ':true}} </p>
                    <a routerLink="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div *ngIf="( i + 1 ) % 3 === 0 " class="w-100"></div>
    </ng-container>
</div>
